@model CrudAppUsingADO.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<!-- Include Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Employee</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.name)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.name)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.gender)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.gender)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.age)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.age)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.salary)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.salary)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.city)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.city)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Include Bootstrap JS (optional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
