@model CrudAppUsingADO.Models.Employee

@{
    ViewBag.Title = "Details";
}

<!-- Include Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h2>Details</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Employee</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">ID</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.id)</dd>

                        <dt class="col-sm-4">Name</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.name)</dd>

                        <dt class="col-sm-4">Gender</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.gender)</dd>

                        <dt class="col-sm-4">Age</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.age)</dd>

                        <dt class="col-sm-4">Salary</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.salary)</dd>

                        <dt class="col-sm-4">City</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.city)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </p>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS (optional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
